<div style='display:none;' class='tool-content-container' id='binary_to_number_converter_container'> 
		<p class='close-tool-form-button'>X</p>
		<h1 style='background-color:#6C698D; padding:1.5%; color:white'>Binary to number converter</h1>
		<h3>Enter the binary number you would to convert to a number: </h3>
		<p style='font-size: 1.5em;' id="binary_to_number_converter_result"></p>
		<input id="binary_to_number_converter_input" class='form-input' type='text' placeholder='Enter number: '/>
		<a id='binary_to_number_converter_submit' class='form-submit-button'>Submit</a>

		<script type="text/javascript">
		$("#binary_to_number_converter_submit").click(function() {
			var inputted = $("#binary_to_number_converter_input").val(); 
		    $.ajax({
		        type: 'GET',
		        url: "{% url 'binary_to_number_converter' %}",
		        data: {
		            'inputted' : inputted,
		        },
		        success: function(data) {

		        	$('#binary_to_number_converter_result').text("Result : " + data.new_number);
		        }
		    });
		});
		</script>
	</div>
