<div class='tool-content-container' id='binary_to_number_converter_container'> 
		<input style='padding:3%; background-color:#84a5d9; width:90%; margin:0 auto; border:0px; border-radius:5px; color:white;' id="binary_to_number_converter_input" class='form-input' type='text' placeholder='Enter number: '/>
		<p style='font-size: 1.5em;' id="binary_to_number_converter_result" class='select'></p>
		<a id='binary_to_number_converter_submit' class='form-submit-button' style='border-radius: 3px; display: block;width:90%; color: white; padding:3%;margin:0 auto; text-decoration: none; font-size:1.5em;'>Submit</a>
		<h1 id='binary_to_number_converter_result' /></h1>
		<script type="text/javascript">
		$("#binary_to_number_converter_submit").click(function() {
			var inputted = $("#binary_to_number_converter_input").val(); 
		    $.ajax({
		        type: 'GET',
		        url: "{% url 'binary_to_number_converter' %}",
		        data: {
		            'inputted' : inputted,
		        },
		        success: function(data) {

		        	$('#binary_to_number_converter_result').text("Result : " + data.new_number);
		        }
		    });
		});
		</script>
	</div>
