<div style='display:none;' class='tool-content-container' id='number_to_binary_converter_container'> 
		<h1 style='background-color:#6C698D; padding:1.5%; color:white'>Number to binary converter</h1>
		<h3>Enter the number you would to convert to binary: </h3>
		<p style='font-size: 1.5em;' id="number_to_binary_converter_result"></p>
		<input id="number_to_binary_converter_input" class='form-input' type='text' placeholder='Enter a number: '/>
		<a id='number_to_binary_converter_submit' class='form-submit-button'>Submit</a>

		<script type="text/javascript">
		$("#number_to_binary_converter_submit").click(function() {
			var inputted = $("#number_to_binary_converter_input").val(); 
		    $.ajax({
		        type: 'GET',
		        url: "{% url 'number_to_binary_converter' %}",
		        data: {
		            'inputted' : inputted,
		        },
		        success: function(data) {

		        	$('#number_to_binary_converter_result').text("Result : " + data.number_input);
		        }
		    });
		});
		</script>
	</div>
