<div style='display:none;' class='tool-content-container' id='password_generator_container'> 
		<h1 style='background-color:#6C698D; padding:1.5%; color:white'>Password generator</h1>
		<p class='close-tool-form-button'>X</p>
		<h3>Press generate to generate a random password: </h3>
		<p style='font-size: 1.5em;' id="password_generator_results"></p>
		<a id='password_generator_submit' class='form-submit-button'>Generate</a>

		<script type="text/javascript">
		$("#password_generator_submit").click(function() {
		    $.ajax({
		        type: 'GET',
		        url: "{% url 'password_generator' %}",
		        data: {
		        },
		        success: function(data) {
		        	console.log(data);
		        	console.log(data.number_input);
		        	$('#password_generator_results').text("Password : " + data.number_input);
		        }
		    });
		});
		</script>
	</div>
