<div class='tool-content-container' id='password_generator_container'> 
		<p class='lead select' id='password_generator_result' /></p>
		<a id='password_generator_submit' class='form-submit-button' style=' border-radius: 3px; display: block;width:90%; padding:3%;margin:0 auto; color: white; text-decoration: none; font-size:1.5em;'>Generate Password</a>
		<script type="text/javascript">
		$("#password_generator_submit").click(function() {
			var inputted = $("#password_generator_input").val(); 
		    $.ajax({
		        type: 'GET',
		        url: "{% url 'password_generator' %}",
		        data: {
		            'inputted' : inputted,
		        },
		        success: function(data) {

		        	$('#password_generator_result').text("Password : " + data.new_number);
		        }
		    });
		});
		</script>
	</div>
