<div style='display:none;' class='tool-content-container' id='txt_document_to_pdf_converter_container'> 
		<h1 style='background-color:#6C698D; padding:1.5%; color:white'>TXT document to PDF converter</h1>
		<p class='close-tool-form-button'>X</p>
		<h3>Select a txt file to upload:</h3>
		<input type='file'/ id='txt_document_to_pdf_converter_input'> 
		<a style='display:none;'  href='' id='txt_document_to_pdf_converter_download' class='form-submit-button'>Download</a>
		<a id='txt_document_to_pdf_converter_submit' class='form-submit-button'>Upload</a>

		<script type="text/javascript">
		$("#txt_document_to_pdf_converter_submit").click(function() {
			var txt_file = $("#txt_document_to_pdf_converter_input").get(0).files[0];
			var data = new FormData(); 
			data.append("txt_file", txt_file);
			data.append('csrfmiddlewaretoken', "{{csrf_token}}"); 
		    $.ajax({
		        type: 'POST',
		        url: "{% url 'txt_document_to_pdf_converter' %}",
		        processData: false,
				contentType: false,
                mimeType: "multipart/form-data",
		        data: data,
		        success: function(data) {
		        	 $("#txt_document_to_pdf_converter_submit").fadeOut(300);
		          $("#txt_document_to_pdf_converter_download").fadeIn(500);
		          var x = JSON.parse(data);
		          console.log(x);
		          console.log(x.pdf_path);
		          $("#txt_document_to_pdf_converter_download").attr("href", x.pdf_path); 
		        }
		    });
		});
		</script>

	</div>
