
#fullpage
{
	border-radius: 2px;
}

.header
{
	width: 100%;
	background-color: white;
	padding: 1%;
	
}
.header hr 
{
	background-color: black;
	height: 20px; 
	color: solid black;
	width: 90%;
	border-radius: 5px;
	user-select: none;
	margin: 0 auto;
	text-align: center;
}
.header h1
{
	text-align: center;
	user-select: none;
}

#hammer
{
	width: 150px;
	animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
}
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotat( e0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
.center
{
	text-align: center;
}
#bug-fixing-screen
{
	animation: bug-fixing-color-change 4s linear infinite alternate;
}

@keyframes bug-fixing-color-change {
	25%  {fill: #4ede85;}
	50% {fill: #19d1e6;}
	75% {fill: #e619bd;}
	100%{fill: #f0e80a;}
}
.banner
{
	background-color: #7D5BA6; 
	padding: 3%; 
	border-radius: 5px;
	margin: 0 auto;
	color: white;
	text-align: center;
	margin-top: 5%;
	user-select: none;
	width: 90%; 
	border: 3px solid #ffffff;
}
.sample-content hr 
{
	height: 30px;
	border-radius: 10px;

}
.form-input
{
	padding: 3%; 
	font-size: 1.5em; 
	background-color: lightblue;
}
#bug-fixing
{
	display: block;
	width: 70%;
	height: auto;
	margin: 0 auto;
	text-align: center;
}
.tools-container
{
	padding: 1%; 
	width: 80%; 
	margin: 0 auto;
	margin-top: 3%;
	display: grid;
	grid-template-columns: 30% 70%; 

}
.tool-list
{

	user-select: none;
	border-radius: 5px;
}
.tool-list div 
{	
	background-color: #727dad;
	border: 1px solid white;
	color: white;
	padding: 5%; 
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 2%;
	width: 97%;

}
.tool-list div:hover 
{
	background-color: black;
	transition-duration: 0.5s;
}
.tool-content
{
	width: 100%;
	border-radius: 5px;
	background-color: #0c6ca8;
	margin-left: 2%;
	padding: 2%;
	user-select: none;
}

.tool-content-heading
{
	background-color:#528ac7;
	color: white;
	text-align: center;
	border-radius: 5px;
	padding-bottom: 2%;
	user-select: none;
}
.select 
{
	user-select: text !important;
}
.form-submit-button
{
	background-color: #a1b3cf;
	cursor: pointer;
}
.form-submit-button:hover
{
	background-color: black;
	transition-duration: 1s;

}
#view-tools-button
{
	padding: 3%;
	background-color: #84a5d9;
	margin: 0 auto;
	opacity: 0.8;
	margin-top: 5%; 
	color: white;
	border-radius: 5px; 
	width: 90%; 
	cursor: pointer;
}
#txt_document_to_pdf_converter_input
{
	border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 90%;
    margin: 0 auto;
}
#txt_document_to_pdf_converter_download
{
	border-radius: 3px; 
	display: block;
	width:90%; 
	color: white; 
	padding:3%;
	margin:0 auto; 
	background-color:#2f7dc2; 
	text-decoration: none; 
	font-size:1.5em;
}

.active-item{
	background-color: #40464a !important;
}
#view-tools-button:hover
{
	background-color: #2cdeaf;
	transition-duration: 1s;
}
.first_page 
{
	padding: 10%;
	padding-top: 0;
}
.tool-content-content
{
	background-color: white;
	color: black;
	text-align: center;
	border-radius: 5px;
	height: 70%;
	user-select: none;
}
.tool-content-content input 
{
	text-align: center;
}

.tool-content-container h1 
{
	overflow-wrap: break-word;
}
.tool-content-container h3
{
	font-family: arial;
	border-bottom: 3px solid black;
	background-color: black;
	color: white;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 2%;
	border-radius: 2.5px;
}

.tool-content-container
{
	padding-top: 2%;
	padding-bottom: 2%;
}
.tool-list-button
{
	display: none;
}
@media screen and (max-width: 1000px) {
  .tools-container
  {
  	width: 98%;
  	grid-template-columns: 100%;
  }
  .tool-list
  {
  	display: grid;
  	width: 100%;
  	grid-template-columns: 100%;
  	margin-top: 0;
  	display: none;
  	margin: 0 auto;
  }
  .tool-list div
  {
  	width: 100%;
  	padding: 0%;
  	text-align: center;
  	padding: 1%;
  
  }
  .tool-content
  {
  	margin: 0 auto;
  }
  .tool-list-button
  {
  	display: block;
  	margin: 0 auto;
  	width: 100%;
  	background-color: black;
  	color: white;
  	text-align: center;
  	padding: 1.5%; 
  	cursor: pointer;
  	margin-bottom: 2%;
  	border-radius: 3px;
  	font-size: 1.5em;
  }
}


